# 1. Secrets and Configuration
.env
.env.local

# 2. Virtual Environments
venv/
env/
.conda/

# 3. Data Science and ML
*.csv
*.tsv
*.xlsx
*.parquet
*.pkl
*.joblib
*.h5
.ipynb_checkpoints/
src/ml_model/data/

# 4. Python and Cache
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/

# 5. Testing (Pytest)
.pytest_cache/
.coverage
htmlcov/

# 6. IDE and OS
.idea/
.vscode/
Thumbs.db
.DS_Store

# 7. Local ML testing artifacts
src/ml_model/generate_dummy_pipeline.py
src/ml_model/scoring_pipeline.pkl